<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/home/jc-30/Music/Automation/Dazhboards/src/test/java/Invoicing/Invoice_Templates">
        <classes>
            <class name="Invoicing.Invoice_Templates.Add_Invoice_Templates_With_Product_Test">
                <methods>
                    <include name="Login"/>
                    <include name="Navigate_to_Invoice_Template"/>
                    <include name="Add_Invoice_Template"/>
                    <include name="Not_selected_Product"/>
                    <include name="Fill_bank_details"/>
                </methods>
            </class>
            <class name="Invoicing.Invoice_Templates.Add_Invoice_Templates_Without_Product_Test">
                <methods>
                    <include name="Login"/>
                    <include name="Navigate_to_Invoice_Template"/>
                    <include name="Add_Invoice_Template"/>
                    <include name="Not_selected_Product"/>
                    <include name="Fill_bank_details"/>
                </methods>
            </class>
            <class name="Invoicing.Invoice_Templates.Validation_on_Invoice_Template_Test">
                <methods>
                    <include name="Login"/>
                    <include name="Navigate_to_Invoice_Template"/>
                    <include name="Add_Invoice_Template"/>
                    <include name="Not_selected_Product"/>
                    <include name="Fill_bank_details"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>