<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTestsSuite">
    <listeners>
        <listener class-name="utilities.RetryListener"/>
    </listeners>
    <test name="LoginPackage">
        <packages>
            <package name="Login"/>
        </packages>
    </test>
</suite>
